{% extends 'blog/post_categories/base_category.html' %}

{% load static %}

    
{% block category_posts %}
<div id="post-list" class="container w-1/2 mx-auto flex flex-col-reverse">
    <div id="post1 C언어">
        <ul>
            <li class="py-8 border-b border-gray-300">
                <div class="grid grid-cols-12">
                    <div class="col-span-3 post_date">[ Sep 01, 2021 ]</div>
                    <div class="col-span-9">
                        <div class="post_category pb-5">
                            <span class="font_kor"># C 언어</span>
                        </div>
                        <a href="{% url 'blog:post1' %}" class="blog_post_title">
                            <span class="font_kor">(1) C 언매니지드 프로그래밍</span>
                        </a>
                        <div class="text-lg pt-3 font_kor">C 언어의 기초 및 시작, Hello, C World</div>
                    </div>
                </div>
            </li>        
        </ul>
    </div>
    <div id="post2 C언어">
        <ul>
            <li class="py-8 border-b border-gray-300">
                <div class="grid grid-cols-12">
                    <div class="col-span-3 post_date">[ Sep 05, 2021 ]</div>
                    <div class="col-span-9">
                        <div class="post_category pb-5">
                            <span class="font_kor"># C 언어</span>
                        </div>
                        <a href="{% url 'blog:post2' %}" class="blog_post_title">
                            <span class="font_kor">(2) C 언어의 기본 문법 1</span>
                        </a>
                        <div class="text-lg pt-3">
                            <span class="font_kor">기본 자료형(정수형/실수형), 서식 지정자, C 언어의 bool형, 열거형, 변수 선언 위치, 연산자, 조건문과 반복문</span>
                        </div>
                    </div>
                </div>
            </li>        
        </ul>
    </div>
    <div id="post3 C언어">
        <ul>
            <li class="py-8 border-b border-gray-300">
                <div class="grid grid-cols-12">
                    <div class="col-span-3 post_date">[ Sep 07, 2021 ]</div>
                    <div class="col-span-9">
                        <div class="post_category pb-5">
                            <span class="font_kor"># C 언어</span>
                        </div>
                        <a href="{% url 'blog:post3' %}" class="blog_post_title">
                            <span class="font_kor">(3) C 언어의 기본 문법 2</span>
                        </a>
                        <div class="text-lg pt-3">
                            <span class="font_kor">함수, 함수 매개변수/피연산자 평가순서, 연산자 우선순위와 평가순서, 범위, const, goto문, 배열, 스택 메모리, 다차원 배열</span>
                        </div>
                    </div>
                </div>
            </li>        
        </ul>
    </div>
    <div id="post5 C언어">
        <ul>
            <li class="py-8 border-b border-gray-300">
                <div class="grid grid-cols-12">
                    <div class="col-span-3 post_date">[ Sep 13, 2021 ]</div>
                    <div class="col-span-9">
                        <div class="post_category pb-5">
                            <span class="font_kor"># C 언어</span>
                        </div>
                        <a href="{% url 'blog:post5' %}" class="blog_post_title">
                            <span class="font_kor">(4) C 프로그램의 빌드 과정</span>
                        </a>
                        <div class="text-lg pt-3">
                            <span class="font_kor">
                                <span class="font_kor">빌드(전처리, 컴파일, 어셈블, 링크), 라이브러리, 분할 컴파일(변수/함수의 사용, extern, static, 인클루드 가드), 컴파일러의 종류</span>
                            </span>
                        </div>
                    </div>
                </div>
            </li>        
        </ul>
    </div>
    <div id="post7 C언어">
        <ul>
            <li class="py-8 border-b border-gray-300">
                <div class="grid grid-cols-12">
                    <div class="col-span-3 post_date">[ Sep 17, 2021 ]</div>
                    <div class="col-span-9">
                        <div class="post_category pb-5">
                            <span class="font_kor"># C 언어</span>
                        </div>
                        <a href="{% url 'blog:post7' %}" class="blog_post_title">
                            <span class="font_kor">(5) 포인터</span>
                        </a>
                        <div class="text-lg pt-3">
                            <span class="font_kor">
                                <span class="font_kor">포인터, 주소 연산자, 역 참조 연산자, 포인터와 함수 반환값, 널 포인터, 포인터의 비교/크기, 포인터와 배열, 두 주소 간 사칙연산, 포인터와 연산자, 포인터와 const, 포인터의 용도, 포인터배열</span>
                            </span>
                        </div>
                    </div>
                </div>
            </li>        
        </ul>
    </div>
</div>
{% endblock category_posts %}
    

    