<footer class="container w-1/2 mx-auto flex flex-col items-center justify-center mt-16">
    <nav class="text-lg">
        <div class="flex">
            <ul class="mr-20 border-b-2 border-white hover:border-yellow-300"><a href="{% url 'core:home' %}">Home</a></ul>
            <ul class="mr-20 border-b-2 border-white hover:border-yellow-300"><a href="{% url 'blog:all-posts' %}">Blog</a></ul>
            <ul class="mr-20 border-b-2 border-white hover:border-yellow-300">Contact</ul>
            <ul class="border-b-2 border-white hover:border-yellow-300"><a href="http://github.com/hongsoojong/">Github</a></ul>
        </div>
    </nav>
    <div class="my-16">
        <span class="text-gray-400">Copyright &copy Soojong Hong 2021 </span>
    </div>
</footer>