{% extends 'base.html' %}

{% load static %}


{% block page_title %}
    Blog List Page | Soojong Hong
{% endblock page_title %}
    
{% block content %}

<header class="bg-gray-800 text-gray-200 mb-10">
    <nav class="container w-1/2 mx-auto py-10 flex justify-between">
        <a class="text-2xl text-yellow-200" href="{% url 'core:home' %}">Soojong Hong</a>
        <ul class="flex items-center text-lg">
            <li class="mr-16 border-b-2 border-gray-800 hover:border-yellow-300"><a href="{% url 'blog:all-posts' %}">Blog</a></li>
            <li class="border-b-2 border-gray-800 hover:border-yellow-300">Contact</li>
        </ul>
    </nav>
    <div class="container w-1/2 mx-auto pt-32 pb-10">
        <a href="{% url 'blog:all-posts' %}"><span class="text-3xl">Blog Posts</span></a>
    </div>
</header>

<nav class="flex relative">
    <div class="absolute container w-1/4 h-full flex justify-center">
        <div class="container w-1/2 rounded-md flex justify-center pt-10">
            <nav class="flex flex-col">
                <ul class="mb-3 text-xl font-bold hover:text-green-600 font_kor">
                    <a href="{% url 'blog:all-posts' %}">
                        전체 게시글
                    </a>
                </ul>
                {% for category in categories.all %}
                    <ul class="ml-4 mb-2 text-base font-bold hover:text-green-600 font_kor">
                        <a href="#">
                            {{category.name}}
                        </a>
                    </ul>
                {% endfor %}
                </nav>
            </div>
        </div>
</nav>   

{% block category_posts %}
{% endblock category_posts %}

{% endblock content %}
    