{% extends 'blog/base_blog.html' %}

{% load static %}

{% block category_posts %}

<div class="container w-1/2 mx-auto">
    {% for blog in posts %}
        <ul>
            <li class="py-6 border-b border-gray-300">
                <div class="grid grid-cols-12">
                    <div class="col-span-3 post_date">[ {{blog.pub_date}} ]</div>
                    <div class="col-span-9">
                        <div class="post_category pb-5">
                            <span class="font_kor"># {{blog.category}}</span>
                        </div>
                        <a href="{% url 'blog:detail' blog.pk %}" class="blog_post_title">
                            <span class="font_kor">{{blog.title}}</span>
                        </a>
                    </div>
                </div>
            </li>        
        </ul>
    {% endfor %}
    
    {% include 'partials/paginator.html' %}
    
</div>

{% endblock category_posts %}