<!--
연계되지 않는 html 파일임!!! 확인이 필요함.. 우선 포기

제목, 날짜 기본적인 소스는 자동으로 입력이되고,
안에 본문만 따로 넣을 수 있는 방법이 없을까...?

우선은 url 주소에 따라 일일이 만든 post가 연계되는걸로 되어있음
-->

{% extends 'base.html' %}

{% load static %}


{% block page_title %}
    Blog Post | Soojong Hong
{% endblock page_title %}

{% block content %}

<header class="bg-gray-800 text-gray-100 mb-10">
    <nav class="container w-1/2 mx-auto py-10 flex justify-between">
        <div><a class="text-2xl text-yellow-300" href="{% url 'core:home' %}">Soojong Hong</a></div>
        <div class="flex items-center text-lg">
            <div class="mr-16 border-b-2 border-gray-800 hover:border-yellow-300"><a href="{% url 'blog:all-posts' %}">Blog</a></div>
            <div class="border-b-2 border-gray-800 hover:border-yellow-300">Contact</div>
        </div>
    </nav>
    <div class="container w-1/2 mx-auto pt-32 pb-10">
        <span class="text-3xl font_kor">
            {{blog_detail.title}}
        </span>
    </div>
</header>

<div class="container w-1/2 mx-auto mb-10 post_date">[ {{blog_detail.pub_date}} ]</div>    

{% block post_content %}
{% endblock post_content %}

{% endblock content %}