{% extends 'blog/base_blog.html' %}

{% load static %}

    
{% block category_posts %}

<div class="container w-1/2 mx-auto">
    {% for blog in posts %}
        <ul>
            <li class="py-8 border-b border-gray-300">
                <div class="grid grid-cols-12">
                    <div class="col-span-3 post_date">[ {{blog.pub_date}} ]</div>
                    <div class="col-span-9">
                        <div class="post_category pb-5">
                            <span class="font_kor"># {{blog.category}}</span>
                        </div>
                        <a href="{% url 'blog:detail' blog.pk %}" class="blog_post_title">
                            <span class="font_kor">{{blog.title}}</span>
                        </a>
                        <div class="text-lg pt-3 font_kor">{{blog.contents}}</div>
                    </div>
                </div>
            </li>        
        </ul>
    {% endfor %}

    <div class="text-lg flex justify-center mt-14">
        {% if posts.has_previous %}
        <a href="?page={{posts.previous_page_number}}"><<<</a>
        {% endif %}
        
        <p class="mx-5">Page {{posts.number}} of {{posts.paginator.num_pages}}</p>
        
        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">>>></a>
        {% endif %} 
    </div>
    
</div>

{% endblock category_posts %}  